<h1>CartItems#index</h1>
<p>Find me in app/views/cart_items/index.html.erb</p>
 <table id="cart_items">
   <tr>
     <th>Product</th>
     <th>Qty</th>
     <th class="price">Unit Price</th>
     <th class="price">Full Price</th>
   </tr>

  <% for item in @cart_item.products %>
    <tr class="<%= cycle :odd, :even %>">
       <td><%=h product.name %></td>
       <td class="qty"><%= item.quantity %></td>
       <td class="price"><%= gbp(item.unit_price) %></td>
       <td class="price"><%= gbp(item.full_price) %></td>
    </tr>
   <% end %>
 <tr>

  <td class="total price" colspan="4">
    Total: <%= gbp(@cart_.total_price) %>
  </td>
  </tr>
  </table>
