<div class="container">
  <h2>Your Address Details</h2>
  <table class="table" style="width:500px;">
    <tbody>
      <tr>
        <th>Name</th>
        <td><%= @address.name %></td>
      </tr>
      <tr>
        <th>Address1</th>
        <td><%= @address.address1 %></td>
      </tr>
      <tr>
        <th>Address2</th>
        <td><%= @address.address2 %></td>
      </tr>
      <tr>
        <th>Pincode</th>
        <td><%= @address.pincode %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to 'Back', { controller: 'addresses', action: 'index'} %>   
</div>
